{{ username }} For {{ date }} you should charge the batteries starting from {{ start_time }}. The cheapest slot is at {{ cheapest_slot }} and costs {{ cheapest_price }} pence per kWh.
{% if has_solar %}
The mean solar forecast for tomorrow is {{ mean_forecast }} with a minimum of {{ min_forecast }} and a maximum of {{ max_forecast }} based on {{ data_points }} observations.
{% endif %}